 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("images/default-image.jpg?rand=5114");
}

.u-section-1 .u-sheet-1 {
  min-height: 997px;
}

.u-section-1 .u-video-1 {
  height: 666px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

.u-section-1 .u-text-1 {
  margin: -242px 0 0 821px;
}

.u-section-1 .u-slider-1 {
  width: 392px;
  min-height: 322px;
  height: auto;
  margin: 151px auto 0 81px;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-1 .u-image-1 {
  background-image: url("images/58c3e569-9eb4-e2fc-c72c-ca38ad50bd5c.jpg");
  background-position: 80.3% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-image-2 {
  background-image: url("images/90a5246d-5cd6-6655-2a4c-0769d4e67b93.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-1 .u-image-3 {
  background-image: url("images/5957a311-f5f5-2bb7-9935-09897ddaf8a0.jpg");
  background-position: 43.43% 50%;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 50px;
}

.u-section-1 .u-image-4 {
  background-image: url("images/8e1a7580-8faa-41b5-8058-df443c0893b8.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 50px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 50px;
}

.u-section-1 .u-carousel-control-1 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: -58px;
  position: absolute;
  right: auto;
}

.u-section-1 .u-carousel-control-2 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: auto;
  position: absolute;
  right: -58px;
}

@media (max-width: 1399px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 941px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 641px;
  }
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 941px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 441px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 221px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 854px;
  }

  .u-section-1 .u-video-1 {
    height: 588px;
  }

  .u-section-1 .embed-responsive-1 {
    width: 219%;
    left: -60%;
    height: 100%;
    top: 0%;
  }

  .u-section-1 .u-text-1 {
    margin-top: -164px;
    margin-left: 41px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 124px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 978px;
  }

  .u-section-1 .embed-responsive-1 {
    width: 348%;
    left: -124%;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 0;
  }

  .u-section-1 .u-slider-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-carousel-control-1 {
    left: -46px;
  }

  .u-section-1 .u-carousel-control-2 {
    top: 144px;
    right: -46px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 262px;
}

.u-section-2 .u-text-1 {
  width: 271px;
  margin: 93px auto 0;
}

.u-section-2 .u-text-2 {
  width: 680px;
  margin: 20px auto 60px;
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 111px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  line-height: 1.29;
  letter-spacing: 4px;
  font-size: 1.875rem;
  margin: 20px 353px 15px 419px;
}

@media (max-width: 1399px) {
  .u-section-3 .u-text-1 {
    margin-right: 263px;
    margin-left: 329px;
  }
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-right: 163px;
    margin-left: 229px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-right: 53px;
    margin-left: 119px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }
}